/*
-----------------------------------------------------------------------
SETTINGS
-----------------------------------------------------------------------
*/
$maxWidth: 64rem;
$mediumBreakpoint: 36em;
$largeBreakpoint: 48em;

/*
-----------------------------------------------------------------------
Color definitions
-----------------------------------------------------------------------
*/
$baseColor: rgb(52, 40, 101);
$baseLightColor: rgba(52, 40, 101, 0.2);

$accentColor: rgb(25, 209, 240);
$accentLightColor: rgba(25, 209, 240, 0.4);

$blockedColor: rgb(255, 89, 122);
$blockedLightColor: rgba(255, 89, 122, 0.3);

$textColor: rgb(61,61,61);

/*
-----------------------------------------------------------------------
Progress bar
-----------------------------------------------------------------------
*/
$progressBarColor: rgb(74, 48, 236);